/* .preview,
.form-control,
.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #dee2e6 !important;
  border-top: none !important;
  border-radius: 0 !important;
}

*/
.preview,
textarea {
  min-height: 50vh;
}
